.App {
    background-image: url("https://i.ibb.co/y6KXMWv/map.png");
    background-size: 250px 200px;
    background-repeat: no-repeat;
}
h4{
    font-family: Lucida Handwriting;
    color: rgb(27, 26, 24);
}

